# Eclipse
.project
.classpath
.settings

# IntelliJ IDEA
.idea/

# OS
Thumbs.db
.DS_Store

# Other
*.log
*.swp
*.bak

# Python
__pycache__
.pydevproject

# cliboa
.coverage*
.eggs
build
cliboa.egg-info
coverage.xml
common/
conf/
dist/
logs/
Pipfile
Pipfile.lock
