# Eclipse
.project
.classpath
.settings

# OS
Thumbs.db
.DS_Store

# Other
*.log
*.swp
*.bak

#Python
__pycache__
.pydevproject
Pipfilee

# cliboa
.coverage*
.eggs
build
cliboa.egg-info
conf
conf/logging.conf
Pipfile
