[importlinter]
root_packages =
    cliboa

[importlinter:contract:1]
name = layered architecture contract
type = layers
layers =
    core
    scenario
    adapter
    util
containers = cliboa
include_external_packages = True
