[importlinter]
root_packages =
    cliboa

[importlinter:contract:1]
name = layered architecture contract
type = layers
layers =
    interface
    core
    listener
    scenario
    adapter
    util
    conf
containers = cliboa
include_external_packages = True
