name: cliboa-security

on: [push]

jobs:
  git_secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install git-secrets
        run: |
          git clone https://github.com/awslabs/git-secrets.git git-secrets
          cd git-secrets
          sudo make install
      - name: setup git-secrets
        run: |
          git secrets --install

          # add aws secrets
          git secrets --register-aws

          # add other secrets
          git secrets --add "user\s*=\s*\".+\""
          git secrets --add --allowed --literal "user=\"dummy|dummyuser\""
          git secrets --add "password\s*=\s*\".+\""
          git secrets --add --allowed --literal "password=\"dummy|dummypass\""
      - name: check secrets
        run: git secrets --scan -r .
