name: cliboa-test

on: [pull_request]
 
jobs:
  test_by_multiple_python_versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_versions: [3.5, 3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_versions }}
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          py_ver=${{ matrix.python_versions }}
          pipfile_ver=${py_ver//./}
          cp cliboa/template/Pipfile.above"$pipfile_ver" Pipfile
          pipenv install . --sequential
          pipenv install --dev --skip-lock --sequential
      - name: execute flake8
        run: |
          pipenv run flake8
      - name: check black format
        run: |
          if [ ${{ matrix.python_versions }} != "3.5" ]; then
            pipenv run --check .
          else
            echo "black does not support python${{ matrix.python_versions }}"
          fi
      - name: execute unittest and instrument coverage
        run: |
          pipenv run coverage
      - name: Uupload coverage to codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
